<div id="articleAdd">
  <div class="form-group">
    <label for="articleTitle">文章标题</label>
    <input type="text" class="form-control" id="articleTitle" placeholder="文章标题">
  </div>
  <div class="form-group">
    <label for="editor">文章内容</label>
    <textarea id="editor" name="articleContent" style="width:600px;height:400px;visibility:hidden;"></textarea>
  </div>
  <button type="submit" class="btn btn-default">提交</button>
</div>